In [52]:
import numpy as np
import pandas as pd
import locale as loc

In [53]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [54]:
data1 = np.arange(1,0)
print(data1)
data2  = pd.Series(data1)
print(data2)
data2.index, data2.values

[]
Series([], dtype: int64)

(RangeIndex(start=0, stop=0, step=1), array([], dtype=int64))

In [55]:
data3 = pd.Series([11,22,33,44,55])
data3

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [56]:
dd = {"apple" : 4000 , "banana" : 3500 , "kiwi" : 220 , "orange" : 1700 , "mango" : 6800}
data4 = pd.Series(dd)
data4

apple     4000
banana    3500
kiwi       220
orange    1700
mango     6800
dtype: int64

In [57]:
data2.index = ["aa", "bb", "cc", "dd", "ee"]
data2, data2.index, data2.values

ValueError: Length mismatch: Expected axis has 0 elements, new values have 5 elements

In [ ]:
data5 = pd.Series([1,2,3,4,5,6], dtype='float64')
data5

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [ ]:
data5 = pd.Series(np.arange(1,7), dtype = "float", index = ["aa","bb","cc","dd","ee","ff"])
data5, data5.index, data5.values

(aa    1.0
 bb    2.0
 cc    3.0
 dd    4.0
 ee    5.0
 ff    6.0
 dtype: float64,
 Index(['aa', 'bb', 'cc', 'dd', 'ee', 'ff'], dtype='object'),
 array([1., 2., 3., 4., 5., 6.]))

In [ ]:
print(data5)
print(data5['dd'])
print(data5.loc['dd'])
print(data5[3])
print(data5.iloc[3])

aa    1.0
bb    2.0
cc    3.0
dd    4.0
ee    5.0
ff    6.0
dtype: float64
4.0
4.0
4.0
4.0

C:\Users\user\AppData\Local\Temp\ipykernel_12292\3351266380.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(data5[3])

In [ ]:
import pandas as pd
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
num = np.arange(1,10).reshape(3,3)
df = pd.DataFrame(num, index = ["a","b","c"], columns=["A","B","C"])
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [ ]:
dd = {"과일이름" : ["apple", "banana", "kiwi", "melon", "orange", "mango"],
      "가격" : [4000,5000,2500,7000,2000,8800],
      "개수" : [3,8,11,22,6,5]}
df2 = pd.DataFrame(dd)
df2.index = range(1,7)
df2.index.name = "No."
df2, df2.values, df2.columns

       과일이름    가격  개수
No.
1     apple  4000   3
2    banana  5000   8
3      kiwi  2500  11
4     melon  7000  22
5    orange  2000   6
6     mango  8800   5

In [ ]:
df2.columns.name = "info"
df2.index.name = ''
df2

info    과일이름    가격  개수

1      apple  4000   3
2     banana  5000   8
3       kiwi  2500  11
4      melon  7000  22
5     orange  2000   6
6      mango  8800   5

In [ ]:
df3 = pd.DataFrame(df2,columns=['과일이름','품종','원가','할인','수량','합계'])
df3

     과일이름  품종  원가  할인  수량  합계

1   apple NaN NaN NaN NaN NaN
2  banana NaN NaN NaN NaN NaN
3    kiwi NaN NaN NaN NaN NaN
4   melon NaN NaN NaN NaN NaN
5  orange NaN NaN NaN NaN NaN
6   mango NaN NaN NaN NaN NaN

In [ ]:
df3.loc[:,'품종'] = ['신선한','궁금한','맛있는','최적의','월빙','유기농']
df3.loc[:,'할인'] = [0.2,0.3,0.2,0.1,0.2,0.3]
df3

ValueError: Must have equal len keys and value when setting with an iterable

In [ ]:
df3['ETC'] = "-"
df3['Test'] = "test"

print(df3.dtypes)
df3

과일이름    object
품종      object
원가      object
할인      object
수량      object
합계      object
ETC     object
Test    object
dtype: object

      과일이름   품종   원가   할인   수량   합계 ETC  Test

1    apple  NaN  NaN  NaN  NaN  NaN   -  test
2   banana  NaN  NaN  NaN  NaN  NaN   -  test
3     kiwi  NaN  NaN  NaN  NaN  NaN   -  test
4    melon  NaN  NaN  NaN  NaN  NaN   -  test
5   orange  NaN  NaN  NaN  NaN  NaN   -  test
6    mango  NaN  NaN  NaN  NaN  NaN   -  test
품종     신선한  궁금한  맛있는  최적의   월빙  유기농   -  test

In [ ]:
del df3['Test']
df3

      과일이름   품종   원가   할인   수량   합계 ETC

1    apple  NaN  NaN  NaN  NaN  NaN   -
2   banana  NaN  NaN  NaN  NaN  NaN   -
3     kiwi  NaN  NaN  NaN  NaN  NaN   -
4    melon  NaN  NaN  NaN  NaN  NaN   -
5   orange  NaN  NaN  NaN  NaN  NaN   -
6    mango  NaN  NaN  NaN  NaN  NaN   -
품종     신선한  궁금한  맛있는  최적의   월빙  유기농   -

In [ ]:
pd.Series([1.3,2.2], index = [2,4])
df3['ETC'] = ee
df3 - df3.fillna('')
df3

In [ ]:
df3['PASS'] = ''
df3

In [ ]:
df3['DV'] = np.where(df3['수량'] > 7, '포장', '번들')
df3

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
df3.loc[df3.loc[:, '과일이름'] == 'banana', '품종':'수량']

    품종   원가   할인   수량

2  NaN  NaN  NaN  NaN

In [51]:
df3.loc['apple':'orange',:]
df3

KeyError: 'apple'

In [58]:
df3.iloc[[0,2,4],[0,2,5,7]]
# df3.loc[[1,3,5],['과일이름','원가','합계', 'PASS']] # 똑같다.

IndexError: positional indexers are out-of-bounds

In [59]:
import pandas as pd
import numpy as np

print("인구수 시리즈 데이터")
population_dic = {
    'korea' : 5182,
    'japan' : 12622,
    'china' : 141178,
    'usa' : 32976
    }

print("GDP 시리즈 데이터")
GDP_dic = {
    'korea' : 169320000,
    'japan' : 516700000,
    'china' : 140925000,
    'usa' : 2041280000
    }

population = pd.Series(population_dic)
GDP = pd.Series(GDP_dic)
print(population)
print(GDP)
print("="*30)
print("데이터 프레임 생성")
country = pd.DataFrame({"population" : population, "GDP": GDP})
country

인구수 시리즈 데이터
GDP 시리즈 데이터
korea      5182
japan     12622
china    141178
usa       32976
dtype: int64
korea     169320000
japan     516700000
china     140925000
usa      2041280000
dtype: int64
==============================
데이터 프레임 생성

       population         GDP
korea        5182   169320000
japan       12622   516700000
china      141178   140925000
usa         32976  2041280000

In [60]:
country.loc["korea", :]

population         5182
GDP           169320000
Name: korea, dtype: int64

In [62]:
country['GDP_per'] = country['GDP'] / country['population']
country

       population         GDP       GDP_per
korea        5182   169320000  32674.642995
japan       12622   516700000  40936.460149
china      141178   140925000    998.207936
usa         32976  2041280000  61901.989326

In [63]:
country.loc['africa'] = pd.Series([123456, 7777777], index=['population', 'GDP'])
country

        population           GDP       GDP_per
korea       5182.0  1.693200e+08  32674.642995
japan      12622.0  5.167000e+08  40936.460149
china     141178.0  1.409250e+08    998.207936
usa        32976.0  2.041280e+09  61901.989326
africa    123456.0  7.777777e+06           NaN

In [ ]:
country.isnull()

        population    GDP  GDP_per
korea        False  False    False
japan        False  False    False
china        False  False    False
usa          False  False    False
africa       False  False     True

In [ ]:
country =